
*{
    margin:0px;
    padding:0px;
}
/*Landing Page*/
#landingPage{
    background-image:url("/images/landingPage.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
}
.title-background{
    background:rgb(14, 13, 13);
    width:fit-content;
    margin:auto;
    padding:30px;
}
.title{
    text-align: center;
    color:rgb(250, 244, 244);
    font-size:2em;
}
/*slider section*/
.nav-slider{
   padding:10px;
   cursor:pointer;

}
.line{
    background:white;
    height:3px;
    margin:3px;
    width:30px;
}
.line:nth-child(1){
    margin:0px;
}
/*nav-slider-section*/
.nav-slider-section{
    background:rgb(0,0,0) ;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:50%;
    transform:translateX(-100%)
}
.close-nav-slider{
    border:none;
    outline:none;
    float:right;
    background:transparent;
    color:yellow;
    font-size:1.5em;
    padding:15px;
}
.nav-links-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}
.nav-links-container li{
    text-align:center;
    padding:10px;
}
.nav-links{
    text-decoration:none;
    color:#eee;
    font-size:1.5em;
}
.openNav{
     animation: openNav 0.5s forwards;
}
.closeNav{
     animation: closeNav 0.5s forwards;
}
@keyframes openNav{
        100%{
            transform:translate(0%);
        }
}
@keyframes .closeNav{
    0% {
        transform:translate(0%);
    }
    100%{
        transform:translateX(-100%);
    }
}
/*Menu styling*/
#Menu{
    background-color:#070707;
}
.menu-title{
    color:#D0D0D4;
    text-align:center;
    padding:25px;
    font-size:2em;
}
.tab-container{
    width:90%;
    height:80%;
    margin:10px;
}

.tabs-header{
    border:none;
    outline:none;
    background:transparent;
    color:#eee;
    padding:6px 12px;
    font-size:1em;
    cursor:pointer;

}
.active-tab{
     border:1px soilid white;
     border-bottom:none;
}
.tabSection{
    border:1px solid #eee;
    padding:15px;
}
.hide-tab{
    display:none;

}
.show-tab{
    display:block;
}
p{
    color:#eee;
    font-size:1.1em;
}
.menu-price{
    float:right;
}
/*Restaurant contact information*/
#restaurant-info{
    background-color:#070707;
    padding:20px;
}
.restaurant-info-title{
    color:#D3CAc8;
    text-align:center;
}
.address-content,.business-content,.contact-content{
       padding:20px;
}
.address,.hours{
      font-size:1em;
      text-align:center;
}
.phone{
    bottom-margin:0px;
    font-size:1em;
    text-align:center;
}